* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fcfdff;
  color: #0f0f0f;
}

/* Hero */
.hero {
  background-color: #2272f2;
  color: white;
  text-align: center;
  padding: 20px 20px;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  font-size: 20px;
  margin: 10px 0;
}

.date-time {
  font-weight: bold;
}

.cta-btn {
  margin-top: 20px;
  padding: 15px 35px;
  background-color: white;
  color: #4a85ec;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Main Section */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 50px 20px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.content h2, .content h3 {
  color: #546cb5;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.content ul {
  padding-left: 20px;
}

.image-section img {
  width: 100%;
  border-radius: 10px;
}

/* Speakers */
.speakers {
  padding: 50px 20px;
  text-align: center;
  background-color: #ffffff;
}

.speakers h2 {
  color: #0649f5;
  margin-bottom: 30px;
}

.speaker-cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: #f4f8ff;
  width: 260px;
  padding: 20px;
  border-radius: 10px;
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card h3 {
  color: #d2dcec;
  margin-bottom: 5px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #d8e1fe;
}